.icons {
  width: 50%;
}

.header {
  position: fixed;
  height: 120px;
}
.blog-body {
  top: 120px;
  position: fixed;
  background: url(../img/fondo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.row {
  position: relative;
}
/*
position: fixed;
background: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: 100%;*/
